<main class="conten">
    <div class="card">
        <h2 class="card-title">Menu</h2>
        <div class="card-body">
            <button class="btn btn-dark m-3"  (click)="irAHeroes()"  >Heroes</button>
            <br>
            <button class="btn btn-dark m-3" >Equipos</button>
            <br>
            <button class="btn btn-dark m-3" >Dungeons</button>
            <br>
            <button class="btn btn-danger m-3"  (click)="cerrarSecion()"  >Salir</button>
        </div>
    </div>
</main>
