
.conten{
    display: flex;
    flex-direction: row;
}

.conten-itemView{
    flex: 80%;
    display: flex;
    flex-direction: column;
}

.conten-itemStats{
    flex: 80%;
}
.conten-itemTeam{
    flex: 20%;
    background: radial-gradient(rgb(78, 0, 0), rgb(0, 0, 0));
    border: 0.3em solid black;
}

.conten-itemList{
    flex: 20%;
    background-color: rgb(61, 61, 56);
}