


<app-header></app-header>
<main class="conten">
    <div class="conten-itemView">
        <section class="conten-itemStats">
            <app-hero-stats [entidad]="entidadService.heroStats" ></app-hero-stats>
        </section>
        <section class="conten-itemTeam">
            <app-hero-selected></app-hero-selected>
        </section>
    </div>
    <section class="conten-itemList">
        <app-hero-list  (idHeroStats)="heroSeleccionado($event)"  ></app-hero-list>
    </section>
</main>
<app-footer></app-footer>
