
    <section class="conten card">
        <div class="conten-img">
            <img [src]="entidad?.urlImg" alt="" class="img-Hero">
        </div>
        <div class="conten-stats">
            <div class="card-title">
                <h2 class="size-title"> {{ entidad?.name }} </h2>
            </div>
            <div class="card-body">
                <p><span>hp</span>: {{ entidad?.hp }} </p>
                <p><span>heal</span>: {{ entidad?.heal }} </p>
                <p><span>damageMin</span>: {{ entidad?.damageMin }} </p>
                <p><span>damageMax</span>: {{ entidad?.damageMax }} </p>
                <p><span>armor</span>: {{ entidad?.armor }} </p>
                <p><span>hit</span>: {{ entidad?.hit }}% </p>
                <p><span>dodge</span>: {{ entidad?.dodge }}% </p>
                <p><span>poisonResist</span>: {{ entidad?.poisonResist }}% </p>
                <p><span>stunResist</span>: {{ entidad?.stunResist }}% </p>
                <p><span>bleedResist</span>: {{ entidad?.bleedResist }}% </p>
                <button [hidden]="!entidad?.type" (click)="asignarEquipo(entidad!)" class="btn btn-dark mt-4 mb-2">Agregar Heroe</button>
            </div>
        </div>
    </section>
