


<div class="card edit-dialog">
    <h2 class="card-title mt-4">Seleccione una posicion</h2>
    <div class="card-body container">
        <div class="m-2 row">
            <label class="label-form" >Retaguardia</label>
            <button class="btn btn-dark" (click)="asignar(1)" >Retaguardia</button>
        </div>
        
        <div class="m-3 row">
            <label class="label-form" >Centro</label>
            <button class="btn btn-dark" (click)="asignar(2)" >Centro</button>
        </div>

        <div class="m-3 row">
            <label class="label-form" >Frente</label>
            <button class="btn btn-dark" (click)="asignar(3)" >Frente</button>
        </div>

        <div class="m-4 row">
            <button (click)="closeDialog()" class="btn btn-danger"  >Cancel</button>
        </div>
    </div>
</div>