

<app-header></app-header>
<main class="conten">
    <div class=" card mt-5 mb-5">
        <div class="card-body">
            <h3 class="card-title">Este es un proyecto de software desarrollado como trabajo final para la carrera universitaria en programacion (UTN-MDP)</h3>
            <hr>
            <p class="card-text">Darkest Dungeon es un desafiante juego de rol gótico roguelike por turnos sobre el estrés psicológico de la aventura. Recluta, entrena y lidera un equipo de héroes imperfectos contra horrores inimaginables, estrés, enfermedades y la oscuridad cada vez más invasiva. ¿Podrás mantener unidos a tus héroes cuando se pierda toda esperanza?</p>
            <hr>
            <p class="card-text">Este sitio ha sido desarrollado con el objetivo de que los usuarios puedan personalizar y guardar sus propios equipos de heroes y que puedan observar las agrupaciones de enemigos que se encuentran a lo largo de los niveles de los diferentes dungeons.</p>
        </div>
    </div>
</main>
<app-footer></app-footer>