
<section class="conten">
    <div class="card">
        <h2 class="card-title">Su informacion de usuario</h2>
        <div class="card-body">
            <div class="item" >
                <p class="item-padding" >UserName:  {{authService.user.userName!}}</p>
                <button class="btn btn-dark">Modificar</button>
            </div>
            <hr>
            <div class="item" >
                <p class="item-padding" >Email:  {{authService.user.email!}}</p>
                <button class="btn btn-dark">Modificar</button>
            </div>
            <hr>
            <div class="item" >
                <p class="item-padding" >Password:  *********</p>
                <button class="btn btn-dark">Modificar</button>
            </div>
        </div>
    </div>
</section>
