
<section class="conten">
    <div class="card">
        <h2 class="card-title ">Su informacion de usuario</h2>
        <div class="card-body container ">
            <div class="item row">
                <p class="col" >UserName:  {{authService.user.userName!}}</p>
            </div>
            <hr>
            <div class="item row">
                <p class="col" >Email:  {{authService.user.email!}}</p>
            </div>
            <hr>
            <div class="item row">
                <p class="col" >Password:  *********</p>
            </div>
        </div>
        <div class="pt-5 container text-end">
            <button (click)="openEdit('name')" class="btn btn-dark m-3" >Editar</button>
            <button (click)="volverMenu()" class="btn btn-dark m-3" >Salir</button>
        </div>
    </div>
</section>
