
.conten{
    text-align: center;
}

.card{
    padding: 14em 30em;
    color: white;
    background-image: url('../../../../../assets/Background-user3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: auto;
}

.card-title{
    font-size: 2.2em;
}

.card-body {
    font-size: 1.7em;
}

.item{
    padding: 1em 0;
}
.btn{
    padding: 0.5em 2em;
}