
<div class="conten">
    <div class="conten-item img1">
        <app-info-dugenon [dungeon]="dungeonService.listDungeons[0]" ></app-info-dugenon>
    </div>
    <div class="conten-item img2">
        <app-info-dugenon [dungeon]="dungeonService.listDungeons[1]" ></app-info-dugenon>
    </div>
    <div class="conten-item img3">
        <app-info-dugenon [dungeon]="dungeonService.listDungeons[2]" ></app-info-dugenon>
    </div>
    <div class="conten-item img4">
        <app-info-dugenon [dungeon]="dungeonService.listDungeons[3]" ></app-info-dugenon>
    </div>

</div>
