
<section class="conten">
    <div class="card">
        <h2 class="card-title">Lista de Equipos</h2>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Retaguardia</th>
                        <th>Centro</th>
                        <th>Frente</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of equipService.listEquipos">
                        <td> {{getNombreHeroe(item.equipo?.idEntidad1!)}} </td>
                        <td> {{getNombreHeroe(item.equipo?.idEntidad2!)}} </td>
                        <td> {{getNombreHeroe(item.equipo?.idEntidad3!)}} </td>
                        <td><button (click)="borrarEquipo(item.id!)"  class="btn btn-danger" >X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
