

.conten{
    text-align: center;
    max-height: 800px;
    overflow-y: auto; 
}

.btn{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-content: center;
    align-items: center;
}

.img-Hero{
    width: 5em;
    height: 5em;
}