
<footer class="conten">
    <div class="conten-navegacion">
        <div class="redes-sociales">
            <h3>Siguenos</h3>
            <ul class="redes-sociales_posicion">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="navegacion-sitio">
            <h3>Nuestro sitio</h3>
            <nav>
                <ul class="navegacion-sitio_posicion">
                    <li class="navegacion-sitio_item"><a routerLink="/auth/login"> logeo </a></li>
                    <li class="navegacion-sitio_item"><a routerLink="/auth/register"> Registro </a></li>
                    <li class="navegacion-sitio_item"><a routerLink="/landing"> Landing </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="conten-patrosinio">
        <h2>Darkest Dungeon</h2>
        <p>Copyright Darkest Dungeon</p>
    </div>
</footer>

